#Common
BOT_TOKEN=6270771768:AAGAAzr3lajsdhvoG8bnSJKLHGUGIsngRgIBMgtzDux4IA
SUBSCRIBE_CHANNEL=-1001337571881098
CHANNEL_LINK=https://t.me/mastercho
ADMIN_IDS=1009034711907
CHAT_LOG=614854576234

#Database
DB_NAME=Maw_CHOP
DB_PASSWORD=xLiiB3BBitBD:KLJHtMWV
DB_USER=MasterKJJKHBotDb

#Price
MONEY_CODE=450987
JANTRA=4506745
MONEY_CALENDAR=4505674

#Yoomoney
PROVIDER_TOKEN=381764678:TEST:6166397869786
CURRENCY=RUB

